<div class="panel panel-default">
  <div class="panel-body">
    <form id="scripture-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scripturePassage">Scripture:</label>
          <input
            type="text"
            id="scripturePassage"
            class="form-control required"
            size="120"
            max="120"
            name="scripturePassage"
            required
            [ngModel]="scripture?.scripturePassage"
            #name="ngModel">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scriptureImageLink">Scripture Image Link:</label>
          <input
            type="text"
            id="scriptureImageLink"
            class="form-control invalid"
            size="120"
            max="255"
            name="scriptureImageLink"
            [ngModel]="scripture?.scriptureImageLink"
            #scriptureImageLink="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="scriptureImageLink.touched && scriptureImageLink.invalid">
            <strong>Enter a valid scripture image link</strong>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scriptureLink">Scripture Link:</label>
          <input
            type="text"
            id="scriptureLink"
            class="form-control required"
            size="150"
            max="255"
            name="scriptureLink"
            [ngModel]="scripture?.scriptureLink"
            #scriptureLink="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="scriptureLink.touched && scriptureLink.invalid">
            <strong>Enter a valid scripture link</strong>
          </div>            
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="keywords">Keyword/Keyword Phrase:</label>
          <input
            type="text"
            id="keywords"
            class="form-control"
            size="150"
            max="255"
            name="keywords"
            [ngModel]="scripture?.keywords"
            #keywords="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="keywords.untouched && keywords.invalid"><strong>A keyword or keyword phrase is required.</strong></div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="groupList">Group Scriptures:</label>

          <div class="row" id="groupList"
              style="min-height: 3rem;" >

            <div *ngFor="let scripture of groupScriptures; let i = index">
              <div>
                <app-scripture-item class="col-sm-11" [scripture]="scripture"></app-scripture-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">X</button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupScriptures?.length < 1">Drag scriptures in group here</span>
          </div>

        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="f.invalid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
