<div class="panel panel-default form-container">
  <div class="panel-body">
    <form id="scripture-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scripturePassage">Scripture:</label>
          <input
            type="text"
            id="scripturePassage"
            class="form-control required"
            size="120"
            max="120"
            name="scripturePassage"
            required
            [ngModel]="scripture?.scripturePassage"
            #scripturePassage="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="f.submitted && scripturePassage.invalid">
            <strong>A scripture reference is required.</strong>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scriptureImageLink">Scripture Image Link:</label>
          <input
            type="text"
            id="scriptureImageLink"
            class="form-control invalid"
            size="120"
            max="255"
            name="scriptureImageLink"
            [ngModel]="scripture?.scriptureImageLink">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="scriptureLink">Scripture Link:</label>
          <input
            type="text"
            id="scriptureLink"
            class="form-control required"
            size="150"
            max="255"
            name="scriptureLink"
            required
            [ngModel]="scripture?.scriptureLink"
            #scriptureLink="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="f.submitted && scriptureLink.invalid">
            <strong>A scripture link is required.</strong>
          </div>            
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="keywords">Keyword/Keyword Phrase:</label>
          <input
            type="text"
            id="keywords"
            class="form-control required"
            size="150"
            max="255"
            name="keywords"
            required
            [ngModel]="scripture?.keywords"
            #keywords="ngModel">
          <div 
            class="alert alert-danger"
            *ngIf="f.submitted && keywords.invalid"><strong>A keyword or keyword phrase is required.</strong></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="questionOrTopic">Question or Topic:</label>
          <input
            type="text"
            id="questionOrTopic"
            class="form-control"
            size="150"
            max="255"
            name="questionOrTopic"
            [ngModel]="scripture?.questionOrTopic">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="note">Note:</label>
          <input
            type="text"
            id="note"
            class="form-control"
            size="150"
            max="255"
            name="note"
            [ngModel]="scripture?.note">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button 
            class="btn btn-success" 
            type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>
