<div class="scriptureRow">
    <div class="list-group-item row clearfix" [routerLink]="['/scriptures', scripture.id]" style="height: 72px;">
        <a>
            <span class="col-xs-1" style="margin: 0; padding: 0">
                <img *ngIf="scripture.scriptureImageLink" src="{{ scripture.scriptureImageLink }}"
                alt="{{ scripture.scripturePassage }}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
            <div class="col-xs-2">
                <h4 class="list-group-item-heading">{{ scripture.scripturePassage }}</h4>
            </div>            
            <div class="col-xs-5">
                <h4 class="list-group-item-heading">{{ scripture.keywords.join(', ') }}</h4>
            </div>            
        </a>
        <div class="col-xs-4 pull-right buttons-container">
            <a 
                class="btn btn-success note-button" 
                [routerLink]="['/scriptures', scripture.id]">Note</a>
            <a class="btn btn-primary view-button" (click)="onView(); $event.stopPropagation()">View</a>
            <a 
                class="btn btn-warning edit-button" 
                [routerLink]="['/scriptures', scripture.id, 'edit']">
                Edit
            </a>
            <a class="btn btn-danger delete-button" (click)="onDelete(); $event.stopPropagation()">Delete</a>            
        </div>
    </div>            
</div>