<div class="scriptureRow">
    <div class="list-group-item row clearfix" [routerLink]="['/scriptures', scripture.id]">
        <a>
            <span class="col-md-1">
                <img *ngIf="scripture.scriptureImageLink" src="{{ scripture.scriptureImageLink }}"
                alt="{{ scripture.scripturePassage }}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
            <div class="col-md-2">
                <h4 class="list-group-item-heading">{{ scripture.scripturePassage }}</h4>
            </div>            
            <div class="col-md-5">
                <h4 class="list-group-item-heading">{{ scripture.keywords.join(', ') }}</h4>
            </div>            
        </a>
        <div class="col-md-4 pull-right">
            <a 
                class="btn btn-success note-button" 
                [routerLink]="['/scriptures', scripture.id]">Note</a>
            <a class="btn btn-primary view-button" (click)="onView(); $event.stopPropagation()">View</a>
            <a 
                class="btn btn-warning edit-button" 
                [routerLink]="['/scriptures', scripture.id, 'edit']">
                Edit
            </a>
            <a class="btn btn-danger delete-button" (click)="onDelete(); $event.stopPropagation()">Delete</a>            
        </div>
    </div>            
</div>