<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <span class="title pad-left-right">Scriptures</span>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <!-- Add the search box input field here -->
            <input 
                type="text" 
                #searchBox
                (keyup)="search(searchBox.value)"
                class="form-control"
                placeholder="Enter a search value">
            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Scripture</a>
          </div>
        </div>
    </div>
    <div class="panel-body">
        <app-scripture-row
            *ngFor="let scriptureElement of scriptures | scripturesFilter:term "
            [scripture]="scriptureElement">
        </app-scripture-row>
    </div>
</div>
