ul.padding-around-navbar-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-buttons {
    width: 175px;
    text-align: center;
    border: 1px solid #e7e7e7;
    margin-right: 2px;
}

.active {
    font-weight: bold;
}