<nav class="navbar navbar-default">
    <div class="container-fluid">       
        <div class="navbar-default">
            <ul class="nav navbar-nav padding-around-navbar-links">
                <li routerLinkActive="active"><a routerLink="/scriptures" class="header-buttons">Scriptures</a></li>
                <li routerLinkActive="active"><a routerLink="/general-conference" class="header-buttons">General Conference</a></li>
                <li routerLinkActive="active"><a routerLink="/videos" class="header-buttons">Videos</a></li>
                <li routerLinkActive="active"><a routerLink="/books" class="header-buttons">Books</a></li>
            </ul>
        </div>
    </div>
</nav>
